h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 7px;
  margin-bottom: 0px;
}

h3 {
  font-size: 15px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

/* Contact Form CSS based off https://www.w3schools.com/howto/howto_css_contact_form.asp */

input[type=text], select, textarea{
    width: 100%;
    max-width: 640px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}